/curso_basico_1/__pycache__
/curso_basico_2/__pycache__
/curso_basico_2/package/__pycache__
/curso_FastAPI/__pycache__
/curso_FastAPI/venv
/curso_FastAPI_2/__pycache__
/curso_FastAPI_2/config/__pycache__
/curso_FastAPI_2/models/__pycache__
/curso_FastAPI_2/routers/__pycache__
/curso_FastAPI_2/services/__pycache__