<form action="{% url 'polls:vote' question.id %}" method= "post">
    {% csrf_token %}
<fieldset>
    <legend><h1>{{ question.text }}</h1></legend>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% for choice in  question.choice_set.all%}
    <input 
        type= "radio"
        name = "choice"
        id = "choice{{forloop.choice}}"
        value = "{{choice.id}}"
    >
    <label for="choice{{forloop.choice}}">
        {{choice.text}}
    </label>
    <br>
    {% endfor %}
     
</fieldset>
<input type="submit" value="Votar">
</form>







{% comment %} <h1>{{question.text}}</h1>
{% if question.choice_set.all %}
    <ul>
        {% for choice  in question.choice_set.all %}
        <li>{{ choice.text }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No answers available </p>
{% endif %} {% endcomment %}

